.item {
    background: green;
    -webkit-animation: colorize 10s infinite;
    list-style: none;
    float: left;
    padding: 10px;
}

@-webkit-keyframes colorize {
    0% { background: green; }
    50% { background: red; }
    100% { background: green; }
}

ul{
    overflow: auto;
}

h2{
    overflow: auto;
    clear: both;
}
